// .App {
//   text-align: center;
// }
.siteCardsHolder {
  // background-color: #90b0b6;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 10%;
  justify-content: center;
  // margin-bottom: 10%;
}

.listCardsHolder {
text-align: right;
margin-right: 5%;
}
.customizedCard {
  max-width: 300px;
  overflow: hidden;
  margin-top: auto;
}

// .nav-link {
  
// }
